/*----RESET----*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*----HEADER----*/
header {
  background: #fdd26c; }

@media screen and (max-width: 320px) {
  .imgLogo {
    margin-right: 1rem; } }

/*----MAIN INDEX----*/
main {
  margin: 1rem; }

.img-1 {
  width: 100%;
  height: 80vh; }

@media screen and (max-width: 425px) {
  .img-1 {
    width: 100%;
    height: 50vh; } }

.art1 {
  margin-top: 1rem;
  background-image: linear-gradient(to right, #f3d369, #8b793b, #524723);
  padding: 1rem 1rem 0;
  height: 10rem;
  border-radius: 2rem; }

.art2 {
  margin-top: 3rem;
  background-image: linear-gradient(to left, #f3d369, #8b793b, #524723);
  padding: 1rem 1rem 0;
  height: 10rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.carr-img {
  text-decoration: none;
  color: #fffefe;
  font-size: 3rem; }
  .carr-img:hover {
    color: #ff0000; }

.carr-text {
  color: #000000;
  text-shadow: 3px 3px 3px #ffff;
  font-size: larger;
  font-weight: 800; }

.producMain {
  margin-top: 3rem;
  background: #f3d369; }

.gridCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4rem repeat(2, 1fr);
  grid-template-areas: "titulo titulo titulo titulo" "img1 img1 img2 img2" "img3 img3 img4 img4";
  gap: .5rem;
  background: #fdd26c;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 20px; }
  .gridCont__titulo {
    grid-area: titulo;
    text-align: center; }
  .gridCont__img1 {
    grid-area: img1; }
    .gridCont__img1 img {
      width: 100%;
      height: 20rem;
      border-radius: 12px; }
  .gridCont__img2 {
    grid-area: img2; }
    .gridCont__img2 img {
      width: 100%;
      height: 20rem;
      border-radius: 12px; }
  .gridCont__img3 {
    grid-area: img3; }
    .gridCont__img3 img {
      width: 100%;
      height: 20rem;
      border-radius: 12px; }
  .gridCont__img4 {
    grid-area: img4; }
    .gridCont__img4 img {
      width: 100%;
      height: 20rem;
      border-radius: 12px; }

@media screen and (max-width: 425px) {
  .gridCont {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem repeat(4, 1fr);
    grid-template-areas: "titulo" "img1" "img2" "img3" "img4"; } }

/*----NOSOTROS ----*/
.gridContN {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3rem 1fr 15rem;
  margin-top: 2rem;
  grid-column-gap: 10px;
  grid-template-areas: "titulo titulo titulo titulo" ". PP SP ." ". lista . ."; }
  .gridContN__titulo {
    grid-area: titulo;
    text-align: center; }
  .gridContN__PP {
    grid-area: PP;
    width: 40vh; }
    .gridContN__PP .primerParrafo {
      font-family: Arial, Helvetica, sans-serif; }
    .gridContN__PP::first-letter {
      font-size: 1.5rem; }
  .gridContN__SP {
    grid-area: SP;
    width: 40vh; }
    .gridContN__SP .segundoParrafo {
      font-family: Arial, Helvetica, sans-serif; }
    .gridContN__SP::first-letter {
      font-size: 1.5rem; }
  .gridContN__lista {
    grid-area: lista; }

@media screen and (max-width: 425px) {
  .gridContN {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr 1fr 13rem;
    grid-template-areas: "titulo" "PP" "SP" "lista"; }
    .gridContN__PP {
      width: 100%; }
    .gridContN__SP {
      width: 100%; } }

/*----Sucursales----*/
.gridContS {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 2rem 1fr;
  grid-template-areas: "titulo" "texto" "mapa";
  grid-row-gap: 10px;
  margin-top: 1rem; }
  .gridContS__titulo {
    grid-area: titulo; }
    .gridContS__titulo .titulo {
      text-align: center; }
  .gridContS__text {
    grid-area: texto; }
    .gridContS__text .text {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center; }
  .gridContS__map {
    grid-area: mapa;
    width: 100%;
    margin-top: 10px; }
    .gridContS__map .mapaCont {
      display: flex;
      justify-content: center; }
      .gridContS__map .mapaCont__mapa {
        width: 700px;
        height: 450px; }

@media screen and (max-width: 425px) {
  .gridContS__map .mapaCont .mapaCont__mapa {
    width: 290px;
    height: 180px; } }

/*----Productos----*/
.gridContP {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem repeat(5, 6rem) 10px;
  grid-template-areas: "titulo titulo titulo" "cremas frutales dulceDL" "cremas frutales dulceDL" "cremas chocolates paletas" "cremas chocolates ." "cremas chocolates tortas" "cremas . .";
  gap: 10px;
  background-color: #fdd26c;
  border-radius: 20px;
  margin-top: 1rem; }
  .gridContP__titulo {
    grid-area: titulo;
    text-align: center; }
  .gridContP__cremas {
    grid-area: cremas;
    display: flex;
    justify-content: center; }
    .gridContP__cremas .cremas__c {
      width: 60%; }
  .gridContP__frutales {
    grid-area: frutales;
    display: flex;
    justify-content: center; }
    .gridContP__frutales .frutales__c {
      width: 60%; }
  .gridContP__dulceDL {
    grid-area: dulceDL;
    display: flex;
    justify-content: center; }
    .gridContP__dulceDL .dulceDL__c {
      width: 60%; }
  .gridContP__chocolates {
    grid-area: chocolates;
    display: flex;
    justify-content: center; }
    .gridContP__chocolates .chocolates__c {
      width: 60%; }
  .gridContP__paletas {
    grid-area: paletas;
    display: flex;
    justify-content: center; }
    .gridContP__paletas .paletas__c {
      width: 60%; }
  .gridContP__tortas {
    grid-area: tortas;
    display: flex;
    justify-content: center; }
    .gridContP__tortas .tortas__c {
      width: 60%; }

@media screen and (min-width: 728px) and (max-width: 1025px) {
  .gridContP {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem repeat(2, 13rem) 5rem 9.5rem 8rem;
    grid-template-areas: "titulo titulo" "cremas frutales" "cremas dulceDL" "cremas chocolates" "paletas chocolates" "tortas chocolates"; } }

@media screen and (max-width: 425px) {
  .gridContP {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr 10rem 20rem 10rem 10rem 8rem;
    grid-template-areas: "titulo" "cremas" "frutales" "chocolates" "dulceDL" "paletas" "tortas"; } }

@media screen and (max-width: 320px) {
  .gridContP {
    grid-template-rows: 3rem 1fr 10rem 24rem 17rem 10rem 8rem; } }

/*----CONTACTO----*/
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 5rem);
  grid-template-areas: "nombre texto" "mail texto" "submit texto";
  column-gap: 1rem; }
  .formulario__nombre {
    grid-area: nombre;
    display: flex;
    justify-content: end;
    height: 2rem; }
  .formulario #userName, .formulario #userMail {
    border: none;
    border-radius: 10px;
    border-bottom: solid 1px #574c4c;
    border-right: solid 1px #574c4c;
    background-image: linear-gradient(to right, white, #fcce78); }
  .formulario #userName:focus, .formulario #userMail:focus {
    background: #fff; }
  .formulario__mail {
    grid-area: mail;
    display: flex;
    justify-content: end;
    height: 2rem; }
  .formulario #userMail {
    border-radius: 10px; }
  .formulario #userMail:focus {
    background: #fff; }
  .formulario__text {
    grid-area: texto; }
  .formulario #userText {
    resize: none;
    border-radius: 10px; }
  .formulario__submit {
    grid-area: submit;
    display: flex;
    justify-content: end;
    height: 2rem; }
  .formulario__submit-input {
    background: #ddb120;
    border: none;
    border-radius: 20%;
    text-align: center;
    width: 4rem; }
  .formulario__submit-input:hover {
    background: rgba(221, 177, 32, 0.705); }

@media screen and (max-width: 425px) {
  .formulario {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem 1fr 5rem;
    grid-template-areas: "nombre" "mail" "texto" "submit";
    column-gap: 0; }
    .formulario__nombre {
      justify-content: center; }
    .formulario__mail {
      justify-content: center; }
    .formulario__text {
      display: flex;
      justify-content: center; }
    .formulario__submit {
      margin: 1rem;
      justify-content: center; } }

/*----FOOTER----*/
.footer {
  background: #fdd26c; }
  .footer__h3 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif; }
  .footer__p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem; }

@media screen and (max-width: 425px) {
  .footer__h3 {
    font-size: .8rem; }
  .footer__p {
    font-size: .8rem; } }
