*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: rgb(253, 210, 108);
}

.color {
    background: rgb(253, 210, 108);
}

@media screen and (min-width: 992px) {
    .color{
        background: #ffffff;
    }
}