*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
header {
    background: rgb(253, 210, 108);
}

.color {
    background: rgb(253, 210, 108);
}
/* mian index */
.main{
    margin: 1rem;
}

.art1{
    margin-top: 1rem;
    background-image: linear-gradient(to right, rgb(243, 211, 105),rgb(139, 121, 59) , rgb(82, 71, 35) );
    padding: 1rem 1rem 0;
    height: 10rem;
    border-radius: 2rem;
}   
.art2{
    margin-top: 3rem;
    background-image: linear-gradient(to left, rgb(243, 211, 105),rgb(139, 121, 59) , rgb(82, 71, 35) );
    padding: 1rem 1rem 0;
    height: 10rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}  
.img-1{
    width: 100%;
    height: 80vh;
}

.carr-text {
   color: #000;
}

.carr-img{
    text-decoration: none;
    color:#fffefe ;
    font-size: 3rem;
}

.carr-img:hover{
    color: rgb(0,255,133);
}

.producMain {
    margin-top: 3rem;
    background: rgb(243, 211, 105) ;
    
}

.img-2{
    width: 100%;
    height: 20rem;
    padding: 0;
}

.mbi:hover {
    border: none;
}
/* main productos */
.listaProductos {
    list-style: none;
}
.listaProductos li{
    padding: 0;
}
/* main contacto */
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 5rem);
    column-gap: 1rem;
}
.formulario__nombre{
    display: flex;
    justify-content: end;
    height: 2rem;
}
#userName{
    border: none;
    border-radius: 10px;
    border-bottom: solid 1px rgb(87, 76, 76);
    border-right: solid 1px rgb(87, 76, 76);
    background-image: linear-gradient(to right, white,  rgb(252, 206, 120));
}
#userName:focus{
    background: #fff;
}
.formulario__mail{
    grid-row: 2/3;
    display: flex;
    justify-content: end;
    height: 2rem;
}
#userMail{
    border: none;
    border-radius: 10px;
    border-bottom: solid 1px rgb(87, 76, 76);
    border-right: solid 1px rgb(87, 76, 76);
    background-image: linear-gradient(to right, white,  rgb(252, 206, 120));
}
#userMail:focus{
    background: #fff;
}
#userText{
    resize:none;
    border-radius: 10px;
}
.formulario__submit{
    grid-row: 3/4;
    display: flex;
    justify-content: end;
    height: 2rem;
    
}
.formulario__submit-input{
    background: rgb(221, 177, 32);
    border: none;
    border-radius: 20%;
    text-align: center;
    width: 4rem;
}
.formulario__submit-input:hover{
    background: rgba(221, 177, 32, 0.705);
}

/* footer */
.footer {
    color: #fff;
    background: #000;
}



@media screen and (min-width: 992px) {
    .color{
        background: #ffffff;
    }
}

@media screen and (max-width: 425px) {
    .formulario{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,5rem);
    
    }
    .formulario__nombre{
        justify-content: center;
    }
    .formulario__mail{
        justify-content: center;
    }
    .formulario__text{
        display: flex;
        justify-content: center;
        grid-row: 3/4;
    }
    #userText{
        height: 4rem;
    }
    .formulario__submit{
        grid-row: 4/5;
        justify-content: center;
    }
    
}