@import "./parciales/variables";
@import "./parciales/reset";
@import "./parciales/header";
@import "./parciales/mainInd";
@import "./parciales/nosotros";
@import "./parciales/sucursales";
@import "./parciales/productos" ;
@import "./parciales/contacto";
@import "./parciales/footer";
  