@import "./variables";


/*----CONTACTO----*/
.tituloForm{
    font-family: $fuenteTime;
    font-size: 1.3  rem ;
}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 5rem);
    grid-template-areas: "nombre texto"
                         "mail texto"
                         "submit texto";
    column-gap: 1rem;
    &__nombre{
        grid-area: nombre;
        display: flex;
        justify-content: end;
        height: 2rem;
    }
    #userName{
        border: none;
        border-radius: 10px;
        border-bottom: solid 1px rgb(87, 76, 76);
        border-right: solid 1px rgb(87, 76, 76);
        background-image: linear-gradient(to right, white,  rgb(252, 206, 120));
    }
    #userName:focus{
        background: #fff;
    }
    &__mail{
        grid-area: mail;
        display: flex;
        justify-content: end;
        height: 2rem;
    }
    #userMail{
       @extend #userName;
      border-radius: 10px;
    }
    #userMail:focus{
        background: #fff;
    }
    &__text{
        grid-area: texto;
    }
    #userText{
        resize:none;
        border-radius: 10px;
    }
    &__submit{
        grid-area: submit;
        display: flex;
        justify-content: end;
        height: 2rem;
        
    }
    &__submit-input{
        background: rgb(221, 177, 32);
        border: none;
        border-radius: 20%;
        text-align: center;
        width: 4rem;
    }
    &__submit-input:hover{
        background: rgba(221, 177, 32, 0.705);
    }
}

@media screen and (max-width: 425px) {
    .tituloForm{
        font-size: 1rem ;
    }
    .formulario{
        grid-template-columns: 1fr;
        grid-template-rows: 5rem 5rem 1fr 5rem;
        grid-template-areas: "nombre"
                             "mail"
                             "texto"
                             "submit";
        column-gap: 0;
        &__nombre{
            justify-content: center;
        }
        &__mail{
            justify-content: center;
        }
        &__text{
            display: flex;
            justify-content: center;
        }
        &__submit{
            margin: 1rem;
            justify-content: center;
        }
    }
}