@import "./variables";
/*----FOOTER----*/
$mapFooter: (
    typoF: $fuenteTime ,
    upper: uppercase,
    tamañoF: 1.25rem,
    backG: $colorNav,
    );
    


.footer {

    background: map-get($mapFooter, backG);
    padding-top: 10px;

    &__h3{
        text-transform: map-get($mapFooter, upper);
        font-family: map-get($mapFooter, typoF);
    }
    &__p{
        font-family: map-get($mapFooter, typoF);
        font-size: map-get($mapFooter, tamañoF);
    }
    &__icon {
        display: flex;
        svg {
           margin-right: 10px;
        }
    }
}

@media screen and (max-width: 425px) {
    
    .footer {
        &__h3{
            font-size: .8rem;
        }
        &__p{
            font-size: .8rem;
        }
    }
}