@import "./variables";
/*----FOOTER----*/
$mapFooter: (
    typoF: 'Times New Roman' Times serif ,
    upper: uppercase,
    tamañoF: 1.25rem,
    backG: $colorNav,
    );
    


.footer {

    background: map-get($mapFooter, backG);

    &__h3{
        text-transform: map-get($mapFooter, upper);
        font-family: map-get($mapFooter, typoF);
    }
    &__p{
        font-family: map-get($mapFooter, typoF);
        font-size: map-get($mapFooter, tamañoF);
    }
}