@import "./variables";

/*----NOSOTROS ----*/

.gridContN{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 3rem 1fr 15rem;
    margin-top: 2rem;
    grid-column-gap: 10px;
    grid-template-areas: "titulo titulo titulo titulo"
                         ". PP SP ."
                         ". lista . .";
    &__titulo{
        grid-area: titulo;
        text-align: center;
    }
    &__PP{
        grid-area: PP;
        width: 40vh;
        .primerParrafo{
            font-family:$fuenteTime; 
        }
        &::first-letter{
            font-size: 1.5rem;
        }
    }
    &__SP {
        grid-area: SP;
        width: 40vh;
        .segundoParrafo{
            font-family:$fuenteTime; 
        }
        &::first-letter{
            font-size: 1.5rem;
        }
    }
    &__lista {
        grid-area: lista;
    }
    
}

@media screen and (max-width: 425px) {
    .gridContN{
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 1fr 1fr 13rem;
        grid-template-areas: "titulo"
                             "PP"
                             "SP"
                             "lista";
        &__PP{
            width: 100%;
        }
        &__SP{
            width: 100%;
        }
    }
    
}