$colorNav: rgb(253, 210, 108);
$colorForm: rgb(221, 177, 32);
$gradienteR: linear-gradient(to right, rgb(243, 211, 105),rgb(139, 121, 59) , rgb(82, 71, 35) );
$gradienteL: linear-gradient(to left, rgb(243, 211, 105),rgb(139, 121, 59) , rgb(82, 71, 35) );
$fuenteTime: Arial, Helvetica, sans-serif;